

<div class="container-fluid one" >
  
    <mat-form-field >
      <mat-label>User name</mat-label>
      <input matInput type="text"placeholder="Username" formControlName="username"  >
    </mat-form-field>
    <br>
  
    <mat-form-field >
      <mat-label>password</mat-label>
      <input matInput>
    </mat-form-field>
    <br>
    <mat-form-field >
      <mat-label>Clinic code</mat-label>
      <input matInput>
    </mat-form-field>
    <br>
    <button mat-raised-button style="background-color :#24b37cd8;" >
      Login
</button>
</div>
