


<div class="container abc ">


  <div class="row ">
   
    <div class ="col-md-4 " >
      <div  class=" mat-title ex5  "> Client Admin</div>
      
      <img src="assets/images/16.jpg" 
      class="img-responsive" alt="Responsive image" 
      width="270" height="230" /> 
    
      <br>
      <div class="one"> 
      <button mat-button routerLink= "home2" style="background-color :#24b37cd8;" >
            Login
      </button>
    
      </div>
    </div>

   


    
   <div class ="col-md-4 " >
    <div  class=" mat-title ex5  "> Clinician </div>
  
    <img src="assets/images/6.jpg" 
      class="img-responsive" alt="Responsive image" 
      width="270" height="230" />  <br>
    <div class="one"> 
    <button mat-button routerLink= "home3" style="background-color :#24b37cd8;" >
        Login
    </button>
    </div>
    </div>
    
 
    <div class ="col-md-4 " >
      <div  class=" mat-title ex5  "> Client</div>
      
      <img src="assets/images/8.jpg" 
      class="img-responsive" alt="Responsive image" 
      width="270" height="230" />  <br>
      <div class="one"> 
      <button mat-button routerLink= "home4" style="background-color :#24b37cd8;" >
            Login
      </button>
      </div>
       </div>
</div>
</div>

 <!--FOOTER SESSION-->

  <!-- Footer -->
  <footer class="page-footer font-small blue pt-4 fcolor">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
          <div class="col-md-5 mt-md-0 mt-3">
  
            <!-- Content -->
          
            <img src="assets/images/11.jpg" style="width:22% ; height:55px " > <br> <br>
            <p> We are a young company always 
               looking for a new and creative<br>  ideas to help
              you with our products 
               in your everyday life. <br> <br>
               Our team
            </p>
  
            </div>
         <!-- Grid column -->
     <!--     <hr class="clearfix w-100 d-md-none pb-3">
<mat-icon aria-hidden="false" >
            home</mat-icon> 

     -->
         

      <!-- Grid column 1-->
       <div class="col-md-2 mb-md-0 mb-3">

           <!-- Links -->
           <div class="mat-subheading-2">Contact us</div> 
           <p>Newyork ,110021 <br>
            US.</p>
         </div>
        <!-- Grid column 2-->

        <!-- Grid column 1-->
       <div class="col-md-2 mb-md-0 mb-3">

        <!-- Links -->
        <div class="mat-subheading-2">Address</div> 
        <p>info@theralogic.app <br>   (801) 391-3676

          2314 Washington Blvd,<br> Ogden, UT 84401
         </p>
      </div>
     <!-- Grid column 2-->

          <!-- Grid column -->
        <div class="col-md-1 mb-md-0 mb-3">

          <!-- Links -->
          
          <div class="mat-subheading-2"> Follow us</div>
          <span class="material-icons">
            facebook  
            </span> <br><br>
            <img src="assets/images/insta.png" 
   class="img-responsive" alt="Responsive image" 
    width="20" height="20" />
    <br> <br>
    <img src="assets/images/twit1.png" 
class="img-responsive" alt="Responsive image" 
width="20" height="20" />
            
           
              

        </div>
        <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->